.login {
  text-align: center;
  min-height: 80vh;
}

.login h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
  padding-top: 20px;
}

.login p {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 30px;
}

.login button {
  margin-bottom: 15px;
}
