.post_detail {
  margin-bottom: 3em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 1em;
  margin-bottom: 0.8em;
}

.tags span {
  font-weight: 400;
  margin-right: 0.2em;
}

.createdBy {
  margin-bottom: 0.5em;
}
